.detailed-header {
  // background-color: yellow;
  // background-color: white;
  width: 100%;
  position: relative;
  // height: 176px;
  background-color: rgb(200, 200, 200);
  border-radius: 8px;
  overflow: hidden;
  box-shadow:rgba(62, 63, 94, .1) 1px 3px 8px 0;

  .custom-button {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
  }

  .header-image-container {
    height: 95px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
      opacity: 0.85;
    }
  }

  .header-text {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px;

    .text-title {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: left;
      // text-transform: uppercase;
      color: #2F2F2F;
    }

    .text-container {
      display: flex;
      width: 100%;
      justify-content: space-between;
      font-size: 0.9rem;
      align-items: center;
      margin-top: 4px;

      .monster-type {
        // flex-grow: 1;
        padding: 4px 8px;
        background-color: rgb(219, 219, 219);
        color: dimgray;
        border-radius: 6px;
        font-weight: bold;
        margin-right: 10px;
      }

      .difficulty {
        color: white;
        padding: 4px 8px;
        border-radius: 6px;
        background-color: #615DFA;
        i {
          margin-right: 4px;
        }
      }
    }

  }
}
