.custom-button {
  border: none;
  padding: 12px 36px;
  border-radius: 8px;
  color: white;

  &.iconButton {
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 1rem;
  }

  &.fluid {
    width: 100%;
    // border-radius: 14px;
  }

  &.primary {
    background-color: #615DFA;
  }

  &.primary.iconButton {
    background-color: rgba(255, 255, 255, 0.4);
  }

  &.secondary {
    background-color: #2BECFE;
  }
}