.header {
  background-color: #615DFA;
  height: 60px;

  .header-container {
    padding: 0 10px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      text-transform: uppercase;
      font-family: 'Bungee', cursive;
      color: white;
      font-size: 1.2rem;
      letter-spacing: -1px;
    }

    .header-mobile-button {
      padding: 6px;
      width: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 6px;
      background-color: #4E4AC8;

      @media screen and (min-width: 1201px) {
        display: none;
      }

      i {
        font-size: 1.4rem;
        color: white;
      }
    }
  }
}