$sub-color: rgb(200, 200, 200);
$main-color: #3F3F5F;

@mixin shrinkLabel {
  top: -10px;
  font-size: 12px;
  // color: $main-color;
  background-color: white;
  padding: 2px 4px;
}

.group {
  position: relative;
  // margin: 45px 0;

  .form-input {
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 14px;
    padding: 14px;
    display: block;
    width: 100%;
    border: 1px solid $sub-color;
    border-radius: 8px;
    margin: 25px 0;
    transition: border-color 0.2s ease, color 0.2s ease;

    &:focus {
      outline: none;
      border-color: #655FFE;
      color: $main-color;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  input[type='password'] {
    letter-spacing: 0.2em;
  }

  .form-input-label {
    color: $sub-color;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 13px;
    transition: 0.2s ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}
