* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8FB;
}

a {
  text-decoration: none;
  color: black;
}

.page-container {
  height: calc(100vh - 60px);
}